.btns {
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: black;
  color: white;
}

button {
  width: 200px;
  height: 30px;
  border: none;
  font-size: 18px;
}

button:hover {
  background-color: palevioletred;
}

.star-wars-char {
  width: 350px;
  height: 200px;
  background-color: navy;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.hover-comp {
  width: 300px;
  height: 300px;
  background-color: tomato;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.tooltip {
  width: 230px;
  height: 70px;
  position: absolute;
  color: white;
  top: -55px;
  right: -180px;
}

.tooltip-text {
  height: 50px;
  background-color: grey;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.triangle {
  width: 20px;
  height: 20px;
  clip-path: polygon(0 0, 20px 0, 0 20px);
  background-color: grey;
  margin-left: 5px;
  margin-top: -1px;
}

.circle {
  border-radius: 50%;
  background-color: thistle;
}

.hover-holder {
  width: 300px;
  margin: 20px;
}